
<ion-view title="{{page.title}}">
  <ion-content has-header="true" padding="true">
	<div class='list'>

	<div class='item' ng-repeat='(k1, v1) in page.fields'>

		<div ng-switch on="v1.type">
			<div class='item item-toggle' ng-switch-when="checkbox" style='border:none;'>
				{{k1}}
				<label class="toggle toggle-assertive">
					<input type="checkbox" ng-model='v1.value'>
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</div>
			<div ng-switch-when="text">
				<label class="item-input" >
					<span class="input-label">{{k1}}</span>
					<input type="text" ng-model='v1.value' style='border:1px solid #ccc;'>
				</label>
			</div>
			<div ng-switch-when="image">				
				<label class="item-input" >
					<span class="input-label" >{{k1}}</span>
					<img ng-src='{{v1.value}}' style='width:150px;float:right;'>
					<button ng-click='showPopup(k1)' style='margin-left:15px;'>Image Capture</button>
				</label>			    
			</div>

			<div ng-switch-when="range">
				<label class="item range" style='border:none;'>
					<span class="input-label">{{k1}}</span>
					<input type="range" name="volume" min="v1.min" max="v1.max" ng-model="v1.value">
				</label>
			</div>

		</div>

	</div>
	</div>
  </ion-content>
</ion-view>
