<ion-view title="{{selectedApp.appname}}">
  <ion-content class="has-header">
    <ion-list>
      <ion-item ng-repeat="page in pages" type="item-text-wrap" href="#/tab/page/{{page.id}}">
        {{page.title}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
