<ion-view title="Survey List">
  <ion-content class="has-header">
    <ion-list>
      <ion-item ng-repeat="survey in surveys" type="item-text-wrap" ng-click='selectSurvey(survey)'>
        {{survey.appname}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
